*{
    margin: 0;
    padding: 0;
}
.container{
    width: 900px;
    .carousel{
        
        margin: auto;
    }
}
/* max-width: 739px = 46.1875em */
@media ( max-width: 739px){
    /* mobile : width < 740px*/
    
    .container{
        width: 450px;
        .carousel img{
            width: 100%;
        }
    }
};