.container{
    .wellcome{
        margin: 16px auto;
    }
    .imgEnglish{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .img-Url{
            width: 900px;
            display: flex;
            
            .img-Url-0{
                flex:1;
                width: 450px;
            }
            .img-Url-12{
                width: 450px;
                display: flex;
                flex-direction: column;
                flex:1
                
            }
            .img-Url-1{
                    width: 100%;
                    height: 225px;
                }
            .img-Url-2{
                    width: 100%;
                    height: 225px;
                }
        }
    }
    .addWord{
        margin: 16px;
        .add-select{
            display: flex;
            .formInput{

            }
            .selectForm{

            }
        }
        .showForm{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}
/* max-width: 739px = 46.1875em */
@media ( max-width: 739px){
    /* mobile : width < 740px*/
    .imgEnglish{
        h2{
            margin: auto;
        }
        flex-direction: row;
        .img-Url{
            flex-direction: column;
        }
    }
};